<!DOCTYPE html>
<html>
    <head>
        <title>Personajes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Personajes guardadas</div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">edad</th>
                    <th scope="col">historia</th>
                    <th scope="col">peso</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="personaje : ${personajes}">
                    <td th:text="${personaje.nombre}"></td>
                    <td th:text="${personaje.edad}"></td>
                    <td th:text="${personaje.historia}"></td>
                    <td th:text="${personaje.peso}"></td>
                    <td th:text="${personaje.pelicula.titulo}"></td>

                    <td>
                        <a th:href="@{eliminar/} + ${personaje.id}" method="GET">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>
    </body>
</html>
